#about {
    position: relative;
    overflow: hidden;
    min-height: 700px;
    background: url('../../../assets/LayoutsPic/2.png');
    background-size: cover;
}

@media screen and (max-width: 768px) {
   
}